.infoWrap{
    padding-bottom: 10px;
}

.infoWrap> p{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    margin-bottom: 6px;
}

.imgWrap{
    width: 100%;
    height: 56vw;
    overflow:hidden;
    margin-bottom: 10px;
    border-radius: 4px;
}

    @media (min-width: 900px) {
    .imgWrap{ height: 26vw;
    }
}

    @media (min-width: 1023px) {
    .imgWrap{ height: 23vw;
    }
}

.backDropImg{
    width: 100%; 
    display: block;  
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movieTitle{
    height: 10%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}

@media (min-width: 360px) {
    .movieTitle{
    font-size: 24px;
    }
}
.movieTitle > span{
    margin-left: 8px;
}

.scoreValue{
    font-weight: 500;
    margin-left: 8px;
}

.overview{
    padding: 12px;
    border-radius: 14px;
    scrollbar-width: thin;
    box-shadow:  0 0 5px #000;
    text-align: justify;
    
}

@media (min-width: 768px) {
    .overview {
    height: 40px;
    overflow-y: auto;
    }
}

@media (min-width: 1023px) {
    .overview {
    height: 30px;
    overflow-y: auto;
    }
}

.genresWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.genresWrap > span{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
}

.genresList{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 6px;
}

.genresItem{
    font-weight: 600;
    border-radius: 12px;
    padding: 3px 16px;
    background-color: rgba(255, 255, 255, 0.09);
}