.infoWrap{
    line-height: 1.25;
    padding-bottom: 10px;
}

.infoWrap> p{
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    margin-bottom: 6px;
}

.imgWrap{
    width: 100%;
    height: 20vw;
    overflow:hidden;
    margin-bottom: 10px;
    border-radius: 4px;
}

.backDropImg{
    width: 100%; 
    display: block;  
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movieTitle{
    height: 10%;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movieTitle > span{
    margin-left: 8px;
}

.scoreValue{
    font-weight: 500;
    margin-left: 8px;
}

.overview{
    height: 46px;
     overflow-y: auto; 
    padding: 12px;
    border-radius: 20px;
    scrollbar-width: thin;
    box-shadow:  0 0 5px #000;
    text-align: justify;
}

.genresList{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.genresItem{
    border-radius: 12px;
    font-weight: 600;
    padding: 3px 16px;
    /* margin-right: 12px; */
    /* background-color: #f50057; */
    background-color: rgba(255, 255, 255, 0.09);
}